#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}
@keyframes fadein {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeleft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes faderight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chat-status {
  background-color: #abc1d1;
}
.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 0.3s linear;
}
.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.message-row--notown {
  animation: faderight 1s linear;
}
.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
}
.message__Time {
  margin-left: 5px;
  font-size: 14px;
  opacity: 0.6;
}
.message-row--own {
  justify-content: flex-end;
  animation: fadeleft 1s linear;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 1px;
  top: 2px;
}
.reply__column:last-child > i {
  right: 50px;
  top: 10px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply i {
  opacity: 0.5;
}
.reply__column button i {
  opacity: 1;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within input {
  width: 90vw;
  transform: translateX(-10%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
